<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretiva v-for</title>
  </head>
  <div id="directives">
    <h2>Cidades Brasileiras</h2>
    <ol>
      <li v-for="city in cities">{{ city }}</li>
    </ol>
    <h2>Cidades por País</h2>
    <ul v-for="country in countrys">
      <li>{{ country.name }}</li>
      <ol>
        <li v-for="city in country.cities">{{ city }}</li>
      </ol>
  </div>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      let app = new Vue({
        el: '#directives',
        data: {
            cities: [
              'São Paulo',
              'Rio de Janeiro', 
              'Belo Horizonte', 
              'Curitiba', 
              'Porto Alegre', 
              'Nova Serrana', 
              'Perdigão'
            ],
            countrys: [{
              name: 'Brasil',
              cities: [
                'São Paulo',
                'Rio de Janeiro', 
                'Belo Horizonte', 
                'Curitiba', 
                'Porto Alegre', 
                'Nova Serrana', 
                'Perdigão'
              ],
            }, {
              name: 'Estados Unidos',
              cities: [
                'New York',
                'Los Angeles', 
                'Chicago', 
                'Houston', 
                'Phoenix', 
                'Philadelphia', 
                'San Antonio'
              ],
            }, {
              name: 'Japão',
              cities: [
                'Tokyo',
                'Yokohama', 
                'Osaka', 
                'Nagoya', 
                'Sapporo', 
                'Kobe', 
                'Kyoto'
              ],
            }]
          },
      })
    </script>
  </body>
</html>